<h1>Last Round Results</h1>

<ul>
<% @last_round.statements.each do |statement| %>
  <li><%= statement.content %><br></li>
  <li><%= statement.answer %><br></li>
  <li><%= statement.player.name %><br></li>



<% end %>

</ul>

<%= link_to "Start Next Round", new_round_path %>
