
  <div class="container-fluid" >
    <div class="">
      <h3 class="animated zoomIn"> What I Dislike About You </h3>
      </div>
      <br>
      <div class="animated zoomInRight">
        <h4 style="color:#006bb3">Game Instructions:</h4>
        <ul class="">
          <li>In each of 3 rounds, one of 3 players is randomly chosen as the victim.</li>
          <li>Write a statement - what do you honestly dislike about the victim?</li>
          <li>Write another - try to fool them with a plausible lie.</li>
          <li>If the victim correctly guess the sincerity of the statements, he/she gets points.</li>
          <li>Otherwise, the points are YOURS!</li>
          <li>Either way, the victim will never know exactly who wrote what!</li>

        </ul>
      </div>
      <br>
      <br>

      <div class="animated jackInTheBox">
        <%= button_to "Start New Game", startgame_path, method: :post, :class => 'cool' %>
      </div>
<br><br>

<div class="animated zoomInRight">
  <b><p style="color:#e65c00">"In the words of Socrates, "Know thyself." Good luck!</p></b>

</div>

  </div>
